.Christina {
    background-color: black;
    background: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: normal;

    .above {
        z-index: 2;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .below {
        z-index: 1;
        position: relative;
        width: 100%;
        cursor: s-resize;

        display: flex;
        flex-direction: column;
    }

    .pageoverlay {
        position: fixed;
        width: 70%;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        z-index: 2;
        cursor: n-resize;
        overflow-x: hidden;
        overflow: hidden;
        display: flex;
        flex-direction: row-reverse;
    }

    .scrolling-element-inside {
        transform: rotate(-180deg);
    }

    .overlay-content {
        overflow-y: scroll;
        height: calc(100% - 20px);
        font-family: sans-serif;
        color: white;
    }

    .imgoverlay {
        overflow-y: visible;
        width: 100%;
    }

    .below img {
        width: 100%;
    }

    .left {
        align-self: flex-start;
    }

    .right {
        align-self: flex-end;
    }

    .blur-effect {
        transition: filter 2s;
    }

    .blur-effect:hover {
        filter: blur(10px);
        -webkit-filter: blur(10px);
    }

    .blur-reverse {
        transition: filter 2s;
        filter: blur(10px);
        -webkit-filter: blur(10px)
    }

    .blur-reverse:hover {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }

    .skew-effect {
        transition: transform 2s;
    }

    .skew-effect:hover {
        transform: skewX(90deg);
    }

    .opacity-effect {
        opacity: 0.3;
        transition: opacity 2s;
    }

    .opacity-effect:hover {
        opacity: 1;
    }

    .grow-effect {
        transition: transform 2s;

    }

    .grow-effect:hover {
        transform: scale(2);
    }

    .shrink-effect {
        transition: transform 2s;
    }

    .shrink-effect:hover {
        transform: scale(.1);
    }

    .disappear {
        transition: opacity 2s;
    }

    .disappear:hover {
        opacity: 0;
    }

    .shift {
        transition: transform 5s;
    }

    .shift:hover {
        transform: translate(200px, 300%);
    }

    .shiftdown {
        transition: transform 5s;
    }

    .shiftdown:hover {
        transform: translate(200px, -300%);
    }

    .rotate {
        transition: transform 2s;
    }

    .rotate:hover {
        transform: rotate(-180deg);
    }

    .turnup {
        transform: rotate(180deg);
    }

    .style1 {
        width: 600px;
        height: 95%;
        // font-size: 11px;
        // color: black;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
    }

    .style2 {
        width: 300px;
        margin-inline-start: 50px;
    }

    .style3 {
        width: 300px;
        margin-inline-end: 50px;
        margin-block-start: 800px;
    }

    .style4 {
        width: 500px;
        margin-inline-start: 50px;
        margin-block-start: 400px;
    }

    .style5 {
        width: 250px;
        margin-inline-end: 100px;
        margin-block-start: 400px;
    }

    .style6 {
        width: 350px;
        margin-inline-start: 100px;
        margin-block-start: 50px;
    }

    .style7 {
        width: 300px;
        margin-inline-end: 50px;
        margin-block-start: 800px;
    }

    .style8 {
        width: 350px;
        margin-inline-end: 200px;
        margin-block-start: 200px;
    }

    .style9 {
        width: 550px;
        margin-inline-start: 50px;
        margin-block-start: 600px;
    }
}