@import "../../styles/constants.scss";

.Page {
    color: white;
    background: $headerGradient;
    color: white;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    line-height: 140%;
    overflow: auto;

    .showTitle {
        font-style: italic;
        font-family: monospace;
    }

    blockquote {
        padding-left: 50px;
        // color: rgb(240, 240, 240);
        // letter-spacing: normal;
        // font-family: monospace;
    }
}
