/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button,
input,
optgroup,
select,
option,
textarea {
  font-size: 100%;
  font: inherit;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
}

/**
 * 98.css
 * Copyright (c) 2020 Jordan Scales <thatjdanisso.cool>
 * https://github.com/jdan/98.css/blob/main/LICENSE
 */
/* Borders */
/* Window borders flip button-face and button-highlight */
/* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
/**
 * 98.css
 * Copyright (c) 2020 Jordan Scales <thatjdanisso.cool>
 * https://github.com/jdan/98.css/blob/main/LICENSE
 */
/* Borders */
/* Window borders flip button-face and button-highlight */
/* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
.windowsGradient {
  background: -webkit-gradient(linear, left top, right top, from(#000080), to(#1084d0));
  background: linear-gradient(90deg, #000080, #1084d0);
}

.windowsWindow {
  -webkit-box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #ffffff;
          box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #ffffff;
  background: #c0c0c0;
}

.windowsBar {
  background: -webkit-gradient(linear, left top, right top, from(#000080), to(#1084d0));
  background: linear-gradient(90deg, #000080, #1084d0);
  color: white;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button.standardButton {
  font-size: 14px;
  padding: 10px;
  min-width: 140px;
  text-align: center;
  color: black;
  border-radius: 0px;
  border: 2px solid black;
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button.standardButton:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

button.standardButton.primary {
  background: black;
  color: white;
}

button.standardButton.secondary {
  background-color: white;
  color: black;
  border: 2px solid black;
}

input.standardInput {
  font-size: 14px;
  padding: 15px 10px;
  text-align: left;
  border: 2px solid black;
  color: black;
  border-radius: 0px;
}

input.standardInputWhite {
  font-size: 14px;
  padding: 15px 10px;
  text-align: left;
  border: 2px solid white;
  color: white;
  border-radius: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e2e2e;
  border-radius: 0px;
}

/* Handle on hover */
/*# sourceMappingURL=index.css.map */