.Cursor {
    background-color: black;
    background: black;
    display: flex;
    flex: 1;
    
    iframe {
        flex: 1;
        width: 100%;
    } 

    .roomAlert {
        position: absolute;
        top: 50vh;
        left: 20vw;
        font-size: 30px;
        color: white;
    }
}