.App .Sketch, .RoomNathan {
    background: black;
    overflow-y: scroll;
    line-height: 1.3em;

    .mouseTip {
        position: absolute;
        background-color: black;
        width: 200px;
        height: auto;
    }

    .NathanImages {
        align-items: center;
        justify-content: center;
        width: 100%;

        span.title {
            font-size: 120%;
        }

        div.responsive {
            // margin: 5%;
            // width:
            margin: 0 auto;
            padding: 50px;
            display: flex;
            flex-direction: row;
            max-width: 900px;
            flex-wrap: wrap;

        
            .spawnPoint {
                flex: 1;
                min-width: 300px;
                padding-right: 30px;
                padding-bottom: 30px;
            }

            .spawnPoint:after {
                content: "";
                display: block;
                padding-bottom: 100%;
              }

            .spawnPointImg {
                background-repeat: none;
                background-size: cover;
                
                // width: 100%;
                // height: 100%;
                width: 100%;
                height: 100%;
            }

            .label {
                // margin-top: 10px;
                width: 200px;

                div {
                    padding-bottom: 15px;
                }
            }
        }

        #spawnPoint1 {
            background-image: url(https://jdeboi-public.s3.us-east-2.amazonaws.com/public_access_memories/home_body/Nathan/SpawnPoint1.png);
        }
        #spawnPoint2 {
            background-image: url(https://jdeboi-public.s3.us-east-2.amazonaws.com/public_access_memories/home_body/Nathan/SpawnPoint2.png);
        }
        #spawnPoint3 {
            background-image: url(https://jdeboi-public.s3.us-east-2.amazonaws.com/public_access_memories/home_body/Nathan/SpawnPoint3.png);
        }
    }
}
