.R_06 {

    background-image: url("https://jdeboi-public.s3.us-east-2.amazonaws.com/public_access_memories/home_body/deBoisblanc/wallpaper2.jpeg");
    background-repeat: repeat;
    background-size: 400px 400px;
}