$windowS:160px;


.Header {
  // border-bottom: #aaa 1px solid;
  box-shadow: 0px 3px 20px 0px #ffffff16;
}
.Blinds {
 
  .react-p5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    canvas {
      width: 100%;
    }
  }

  #babylon-canvas {
    width: 99.8%;
  }

  .window {
    // border: 1px solid #aaa;

    box-shadow: 0px 0px 10px 0px #ffffff26;
  }
  .windowDiv {
    position: relative;
    // width: 300px;
    // height: 263px;

    .background {
      position: absolute;
      width: $windowS;
      height: $windowS;
      background-repeat: repeat;
    }

    // .background1 {
    //   background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/blinds/palm.png);

    // }


    .windowFrame {
      background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/blinds/blinds.png);
      width: $windowS;
      opacity: .7;
      height: 100px;
      top: 0;
      // background-size: 86% 86%;
      background-size: 113% 100%;
      background-position: -11px -20px;
      position: absolute;
      background-repeat: no-repeat;
      transition: height 2s;
      pointer-events: all;

      &:hover {
        height: 290px;
      }
    }
    // .windowFrame2 {
    //   background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/blinds/window.png);
    //   width: 350px;
    //   // opacity: .5;
    //   height: 300px;
    //   top: 0;
    //   background-size: 86% 86%;
    //   // background-size: 97% 100%;
    //   // background-position: -20px 0px;
    //   position: absolute;
    // }
  }



}
