.App .Sketch.RoomLoraine {
    overflow-y: scroll;
}


.RoomLoraine {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    .instaContainer {
       height: 100%;
       min-width: 350px;
       margin-top: 20px;
    }
}