
$borderH: 2px;
$borderRad: 8px;

$headerBackgroundC: black;
// $headerGradientStartC: #4B57D6;
// $headerGradientEndC: rgb(34,193,195);
//#253c20
$headerGradientStartC: #5b43cd;
$headerGradientEndC: rgb(13, 166, 255);
// #4B57D6
$headerGradient: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0%, $headerGradientStartC),
  color-stop(100%, $headerGradientEndC)
);

$headerSelectedGradientEnd: #111111;
$headerSelectedGradient: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0%, #333333),
  color-stop(100%, $headerSelectedGradientEnd)
);

// H1: 32 pt (30–34pt) 
// H2: 26 pt (24–28pt) 
// H3: 22 pt (20–24pt) 
// H4: 20 pt (18–22pt)
$headerH: 34px;
$headerMobileH: 60px;

$fontSize-h1: 40pt;
$fontSize-h2: 28pt;
$fontSize-h3: 22pt;
$fontSize-h4: 14pt;

$fontSize-desktop-p1: 13pt;
$fontSize-desktop-p2: 11pt;
$fontSize-desktop-p3: 10pt;
$fontSize-desktop-p4: 8pt;

$fontSize-tablet-p1: 18pt;
$fontSize-tablet-p2: 14pt;
$fontSize-tablet-p3: 12pt;
$fontSize-tablet-p4: 10pt;

$fontSize-mobile-p1: 16pt;
$fontSize-mobile-p2: 14pt;
$fontSize-mobile-p3: 12pt;
$fontSize-mobile-p4: 10pt;

$largeLetterSpacing: .2em;
$normalLetterSpacing: .1em;
$smallLetterSpacing: .05em;


// $appBlue: #335ef6;
// $appAlertColor: #03cefc;

// $pearlyGradientStartC: #f1eeff;
// $pearlyGradientEndC: #1e03fc42;
// $pearlyGradient: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $pearlyGradientStartC), color-stop(100%, $pearlyGradientEndC));
// $buttonCol: $pearlyGradientEndC;

// $tweetColPrimary: #6666cc;
// $tweetColSecondary: #aaaadd; //#000011;
// $tweetColTertiary: #111199;
// $tweetColHover: #aaaaff;
// $tweetColHr: #aaaadd88;

// $limeColor : #b4fa00; 

$scrollbarBgColor: rgb(0, 0, 0);
$scrollbarColor: rgb(46, 46, 46);
$scrollbarHoverColor: rgb(88, 88, 88);

/////////////////////////////////////////////////////////////
/**
 * 98.css
 * Copyright (c) 2020 Jordan Scales <thatjdanisso.cool>
 * https://github.com/jdan/98.css/blob/main/LICENSE
 */

 $surface: #c0c0c0;
 $button-highlight: #ffffff;
 $button-face: #dfdfdf;
 $button-shadow: #808080;
 $window-frame: #0a0a0a;
 $dialog-blue: #000080;
 $dialog-blue-light: #1084d0;
 $dialog-gray: #808080;
 $dialog-gray-light: #b5b5b5;
 $link-blue: #0000ff;
 
 /* Borders */
 $border-width: 1px;
 $border-raised-outer: inset -1px -1px $window-frame, inset 1px 1px $button-highlight;
 $border-raised-inner: inset -2px -2px $button-shadow, inset 2px 2px $button-face;
 $border-sunken-outer: inset -1px -1px $button-highlight, inset 1px 1px $window-frame;
 $border-sunken-inner: inset -2px -2px $button-face, inset 2px 2px $button-shadow;
 
 /* Window borders flip button-face and button-highlight */
 $border-window-outer: inset -1px -1px $window-frame, inset 1px 1px $button-face;
 $border-window-inner: inset -2px -2px $button-shadow, inset 2px 2px $button-highlight;
 
 /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
 $border-field: inset -1px -1px $button-highlight, inset 1px 1px $button-shadow, inset -2px -2px $button-face,
     inset 2px 2px $window-frame;
 
 $windowsGradient: linear-gradient(90deg, $dialog-blue, $dialog-blue-light);
 